---
layout: page
title: Database
permalink: /database/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>We love to share what we get</h1>
          <p>Explore our measured data and identification results.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
{% for post in site.database %}
<div class="post-area">
  <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
  <p class="post-date">{{ post.date | date_to_long_string }}</p>
  <p>
    {{ post.content | strip_html | truncatewords: 50 }}
  </p>
</div>
{% endfor %}
-->


{% for post in site.database %}
<div class="post-area">
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for event names...">
<table id="myTable">
  <tr class="header">
    <th style="width:10%;"><center>Date</center></th>
    <th style="width:60%;"><center>Event</center></th>
    <th style="width:10%;"><center>Setup No.</center></th>
    <th style="width:10%;"><center>Sensor No.</center></th>
    <th style="width:10%;"><center>Data Download</center></th>
  </tr>
  <tr>
    <td>
      <center>
        <a style="font-size:15px; line-height:28px" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date_to_long_string }}</a>
        <!-- <p>{{ post.date | date_to_long_string }}</p> -->
      </center>
    </td>
    <td>
      <center>
        <a style="font-size:15px; line-height:28px" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </center>
    </td>
    <td>
      <center>
        <a style="font-size:15px; line-height:28px" href="{{ post.url | prepend: site.baseurl }}">{{ post.setupno }}</a>
      </center>
    </td>
    <td>
      <center>
        <a style="font-size:15px; line-height:28px" href="{{ post.url | prepend: site.baseurl }}">{{ post.sensorno }}</a>
      </center>
    </td>
    <td>
      <center>
        <a style="font-size:15px; line-height:28px" href="{{ post.url | prepend: site.baseurl }}">{{ post.datadl}}</a>
      </center>
    </td>
  </tr>


</table>
</div>
{% endfor %}


<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
