---
layout: page
---
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Selected Publications</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="post">
  <!-- Wrapper Start -->
  <section id="intro" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <p>{{ content }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
    </div>
  </section>
</div>

<!--
<div class="block">
  <center>
    <h2 id="researchinterest">
    Full list of publications can be found on
    <a href="https://www.researchgate.net/project/Bayesian-Operational-Modal-Analysis-BAYOMA">ResearchGate</a>
    page.
  </h2>
</center>
</div>
-->

<p class="center-text" style="padding: 30px;">
  <a href="{{ site.baseurl }}/work">Back to Top</a>
</p>
